body {
    background: #011419;
}

.container {
    height: 803px;
    width: 570px;
    position: relative;
    background: #02546A;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 10px solid #DDD197;
    box-shadow: 0 0 0 8px #02546a, 0 25px 10px -8px #00000082;
}


@import url('https://fonts.googleapis.com/css?family=Poppins:700');

.text {
    text-transform: uppercase;
    color: #DDD197;
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
    transform: scale(1.6, 1.7);
    text-align: center;
    text-shadow: 1px 1px 3px #000;
}

.batman {
    z-index: 2;
}

.head {
    background: #171514;
    height: 30%;
    width: 40%;
    position: absolute;
    left: 29.5%;
    top: 19%;
}

.top-left {
    -webkit-clip-path: polygon(0 0, 0% 100%, 50% 100%);
    clip-path: polygon(0 0, 0% 100%, 50% 100%);
    height: 25%;
    width: 27%;
    background: #171514;
    position: relative;
    top: -24.75%;
}

.top-right {
    -webkit-clip-path: polygon(100% 0, 50% 100%, 100% 100%);
    clip-path: polygon(100% 0, 50% 100%, 100% 100%);
    height: 25%;
    width: 27%;
    background: #171514;
    position: relative;
    top: -49.75%;
    left: 73%;
}

.top-middle {
    background: #171514;
    position: relative;
    height: 40%;
    width: 81%;
    border-radius: 50%;
    top: -65%;
    left: 9.5%;
}

.left-eye {
    -webkit-clip-path: polygon(0 33%, 50% 100%, 100% 66%);
    clip-path: polygon(0 33%, 50% 100%, 100% 66%);
    background: #DDD197;
    height: 30%;
    width: 30%;
    z-index: 3;
    position: relative;
    top: -50%;
    left: 10%;
}

.right-eye {
    -webkit-clip-path: polygon(0 66%, 50% 100%, 100% 33%);
    clip-path: polygon(0 66%, 50% 100%, 100% 33%);
    background: #DDD197;
    height: 30%;
    width: 30%;
    z-index: 3;
    position: relative;
    top: -80%;
    left: 60%;
}

.mouth {
    -webkit-clip-path: polygon(50% 25%,
            100% 10%,
            90% 75%,
            65% 100%,
            35% 100%,
            10% 75%,
            0 10%);
    clip-path: polygon(50% 25%,
            100% 10%,
            90% 75%,
            65% 100%,
            35% 100%,
            10% 75%,
            0 10%);
    background: #B88B48;
    height: 19%;
    width: 35%;
    position: absolute;
    left: 32%;
    top: 40%;
    z-index: 3;
}

.cape {
    background: #171514;
    position: absolute;
    height: 37%;
    width: 100%;
    top: 63%;
}

.cape-left {
    -webkit-clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
    clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
    background: #171514;
    position: absolute;
    height: 50%;
    width: 50%;
    top: 13.5%;
}

.cape-right {
    -webkit-clip-path: polygon(0 50%, 0% 100%, 100% 100%);
    clip-path: polygon(0 50%, 0% 100%, 100% 100%);
    background: #171514;
    position: absolute;
    height: 50%;
    width: 50%;
    top: 13.5%;
    left: 49%;
}

.uniform {
    -webkit-clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
    position: absolute;
    z-index: 3;
    background: #302f2c;
    height: 50%;
    width: 85%;
    top: 50%;
    left: 7.5%;
}

.logo {
    position: relative;
    height: 38%;
    width: 55%;
    background: #A97927;
    border-radius: 50%;
    top: 61.5%;
    left: 22.5%;
}

.bat {
    position: relative;
    height: 95%;
    width: 95%;
    background: #171514;
    border-radius: 50%;
    top: 2.5%;
    left: 2.5%;
}

.wing1 {
    position: absolute;
    background: #A97927;
    height: 34%;
    width: 18%;
    z-index: 4;
    top: 0%;
    left: 24.5%;
    border-radius: 50% 0 50% 50%;
}

.wing2 {
    position: absolute;
    background: #A97927;
    height: 34%;
    width: 18%;
    z-index: 4;
    top: 0;
    left: 55%;
    border-radius: 0 50% 50% 50%;
}

.ears {
    position: absolute;
    background: #A97927;
    height: 8%;
    width: 11%;
    z-index: 4;
    top: 0;
    left: 43.18%;
    border-radius: 0 0 40px 40px;
}

.tail1 {
    position: absolute;
    background: #A97927;
    height: 47%;
    width: 16%;
    z-index: 4;
    top: 56%;
    left: 20%;
    border-radius: 50%;
    transform: rotate(-40deg);
}

.tail2 {
    position: absolute;
    background: #A97927;
    height: 41%;
    width: 11%;
    z-index: 4;
    top: 61%;
    left: 36%;
    border-radius: 50% 50% 0 50%;
    transform: rotate(-22deg);
}

.tail3 {
    position: absolute;
    background: #A97927;
    height: 41%;
    width: 11%;
    z-index: 4;
    top: 61%;
    left: 53%;
    border-radius: 50% 50% 50% 10%;
    transform: rotate(22deg);
}

.tail4 {
    position: absolute;
    background: #A97927;
    height: 47%;
    width: 16%;
    z-index: 4;
    top: 56%;
    left: 63%;
    border-radius: 50%;
    transform: rotate(40deg);
}

.bottom {
    background: #A97927;
    width: 30%;
    height: 8%;
    position: absolute;
    top: 92%;
    left: 35%;
}